<launch>

    <include file = "$(find velodyne_pointcloud)/launch/VLP16_points.launch" ns = "laser_driver" /> 
    <include file = "$(find hector_slam_launch)/launch/tutorial.launch" ns = "slam" /> 
    <node name = "navgation" pkg = "nav" type = "move" output = "screen" />
    <node name = "motor_control" pkg = "motor_communicate" type = "motor_communicate"/>

</launch>